<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dominicsilveira.one_q_shop">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".utils.AppConstants"
        android:allowBackup="true"
        android:icon="@drawable/one_q_shop_nolabel_png"
        android:label="@string/app_name"
        android:roundIcon="@drawable/one_q_shop_nolabel_png"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RegisterLogin.ResetPasswordActivity">
            <intent-filter android:label="one-Q-shop">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "https://moody-sloth-86.loca.lt/api/users/reset-password/” -->
                <data
                    android:host="@string/host_url"
                    android:pathPrefix="@string/host_password_reset_path"
                    android:scheme="@string/host_protocol" />
                <!-- note that the leading "/" is required for pathPrefix -->
            </intent-filter>
            <intent-filter android:label="one-Q-shop">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "one_q_shop://reset_password” -->
                <data
                    android:host="reset_password"
                    android:scheme="one_q_shop" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.profile.ChangePasswordActivity" />
        <activity android:name=".ui.profile.AboutUsActivity" />
        <activity android:name=".ui.profile.PersonalDetailsActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".RegisterLogin.RegisterActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".RegisterLogin.ForgotPasswordActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".RegisterLogin.SplashScreen"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterLogin.LoginActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity" />

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />
    </application>

</manifest>